<h1>RATPlus</h1>

<label for="line">Select a line:</label>

<select
  id="line"
  (change)="onLineSelected($event)"
>
  <option value="" disabled selected>-- Select a line --</option>

  @for (line of lines(); track line.id) {
    <option [value]="line.id">
      {{ line.name }}
    </option>
  }
</select>

<label for="station">Select a station:</label>

<select id="station">
  <option value="" disabled selected>-- Select a station --</option>

  @for (station of stations(); track station.name) {
    <option [value]="station.name">
      {{ station.name }}
    </option>
  }
</select>
