<h1>RATPlus</h1>

<label for="line">Ligne:</label>

<select
  id="line"
  (change)="onLineSelected($event)"
>
  <option value="" disabled selected>-- Séléctionnez une ligne --</option>

  @for (line of lines(); track line.id) {
    <option [value]="line.id">
      {{ line.name }}
    </option>
  }
</select>

<label for="station">Station:</label>

<select
  id="station"
  [value]="selectedStation()?.name ?? ''"
  (change)="onStationSelected($event)"
>
  <option value="" disabled selected>-- Sélectionnez une station --</option>

  @for (station of stations(); track station.name) {
    <option [value]="station.name">
      {{ station.name }}
    </option>
  }
</select>

<button
  type="button"
  (click)="searchDepartures()"
  [disabled]="!selectedLineId() || !selectedStation()"
>
  Rechercher
</button>

@if (groupedDepartures().size > 0) {
  <h2>Prochains départs</h2>

  @for (group of groupedDepartures(); track group[0]) {
    <section>
      <h3>Vers {{ group[0] }}</h3>

      @for (departure of group[1]; track departure.departureTime) {
        <div>
          Terminus : {{ departure.destination }}
           ·
          {{ departure.departureTime | date:'HH:mm':'Europe/Paris' }}
           ·
          {{ departure.status }}
        </div>
      }
    </section>
  }
}
